@{
    ViewBag.Current = "Advanced";
}

    <div class="jumbotron">
        <h1>Advanced features</h1>

        <p>You have been assigned the <code>AdvancedUser</code> role. You can execute the following actions - but use them with caution!</p>

        <button type="button" class="btn btn-danger mt-1" data-toggle="modal" data-target="#exampleModalCenter">
            Clear Conditional Access policies
        </button>

        <br />

        <button type="button" class="btn btn-danger mt-2" data-toggle="modal" data-target="#IntuneModal">
            Clear Intune Configuration
        </button>
    </div>

<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-black-50" id="exampleModalLongTitle">Are you sure?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body text-black-50">
                <p>This action will DELETE all conditional access policies from the signed-in tenant. This action is irreversible.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Abort</button>
                @Html.ActionLink("Clear all Conditional Access policies", "ClearAll", "ConditionalAccess", new { Confirm = true }, new { @class = "btn btn-danger" })
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="IntuneModal" tabindex="-1" role="dialog" aria-labelledby="IntuneModalTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-black-50" id="exampleModalLongTitle">Are you sure?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body text-black-50">
                <p>This action will DELETE all device configurations, compliance policies, app protection policies and device management scripts. This action is irreversible.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Abort</button>
                @Html.ActionLink("Clear all Intune Configuration", "ClearAll", "Intune", new { Confirm = true }, new { @class = "btn btn-danger" })
            </div>
        </div>
    </div>
</div>