<?xml version="1.0"?>
<appSettings>
    <add key="ida:AppID" value="#{AppID}#" />
    <add key="ida:AppSecret" value="#{AppSecret}#" />
    <add key="ida:RedirectUri" value="https://mwconcierge.azurewebsites.net/" />
    <add key="ida:GraphEndpoint" value="https://graph.microsoft.com/beta"/>
    <add key="ida:AppScopes" value="Policy.Read.All User.Read DeviceManagementApps.ReadWrite.All DeviceManagementConfiguration.ReadWrite.All DeviceManagementManagedDevices.ReadWrite.All DeviceManagementConfiguration.ReadWrite.All DeviceManagementServiceConfig.ReadWrite.All" />
</appSettings>
