<?xml version="1.0"?>
<appSettings>
    <add key="ida:AppID" value="c65c4011-1b90-4ec9-b5e9-1ee17786ad84" />
    <add key="ida:AppSecret" value="rxqBB5BU//5akV3Vwx:KRMoN2JDW=gNM" />
    <add key="ida:RedirectUri" value="https://localhost:44375/" />
    <add key="ida:GraphEndpoint" value="https://graph.microsoft.com/beta"/>
    <add key="ida:AppScopes" value="Policy.ReadWrite.ConditionalAccess Policy.Read.All User.Read DeviceManagementApps.ReadWrite.All DeviceManagementConfiguration.ReadWrite.All DeviceManagementServiceConfig.ReadWrite.All" />
</appSettings>
