<!-- Copyright (c) Microsoft Corporation. All rights reserved.
     Licensed under the MIT License. -->

@{
    ViewBag.Current = "Home";
}

    <div class="jumbotron">
        <h1>Modern Workplace Concierge</h1>
        <p class="lead">Your concierge of choice for managing a modern workplace based on Microsoft 365 services.</p>
        @if (Request.IsAuthenticated)
        {
            <h4>Welcome @ViewBag.User.DisplayName!</h4>
            <h6>Tenant @ViewBag.Tenant</h6>
            <p>Use the navigation bar at the top of the page to get started.</p>

            <a href="https://github.com/nicolonsky/ModernWorkplaceConcierge" target="_blank" class="btn btn-dark btn-large">
                <i class="fab fa-github"></i>
                <span>View this project on GitHub</span>
            </a>
        }
        else
        {
            <a href="@Url.Action("SignIn", "Account")" class="btn btn-primary btn-large">
                <i class="fab fa-microsoft"></i>
                <span>Sign In with Microsoft</span>
            </a>
        }
    </div>