<!-- Copyright (c) Microsoft Corporation. All rights reserved.
     Licensed under the MIT License. -->

@{
    ViewBag.Current = "Home";
}

    <div class="jumbotron">
        <h1>Modern Workplace Concierge</h1>
        <p class="lead">Your concierge of choice to manage a modern workplace based on Microsoft 365 services.</p>
        @if (Request.IsAuthenticated)
        {
            <h4>Welcome @ViewBag.User.DisplayName!</h4>
            <p>Use the navigation bar at the top of the page to get started.</p>

            <a href="https://github.com/nicolonsky/ModernWorkplaceConcierge" target="_blank" class="btn btn-dark btn-large">
                <i class="fab fa-github"></i>
                <span>View this project on GitHub</span>
            </a>
        }
        else
        {
            <a href="@Url.Action("SignIn", "Account")" class="btn btn-large SignInButton">
                <svg xmlns="http://www.w3.org/2000/svg" xml:space="preserve" width="80%" viewBox="0 0 3278 522" class="SignInButton">
                    <style type="text/css">.fil0:hover {fill: #4B4B4B;} .fnt0 {font-size: 260px;font-family: 'Segoe UI Semibold', 'Segoe UI'; text-decoration: none;}</style>
                    <rect x="150" y="129" width="122" height="122" fill="#F35325" />
                    <rect x="284" y="129" width="122" height="122" fill="#81BC06" />
                    <rect x="150" y="263" width="122" height="122" fill="#05A6F0" />
                    <rect x="284" y="263" width="122" height="122" fill="#FFBA08" />
                    <text x="470" y="357" fill="white" class="fnt0">Sign in with Microsoft</text>
                </svg>
            </a>
        }
    </div>

    <script>
        $(function () {
            $('#tenant').tooltip('show')
        })
    </script>