@{
    ViewBag.Current = "ConditionalAccessImport";
}

<div class="jumbotron">
    <h1>Import Conditional Access policies</h1>
    <p>Import previously exported Conditional Access policies to your tenant. Please note that no items will be overwritten as this tool performs only POST requests.</p>
</div>

<div class="form-group">
    <div class="input-group input-file" name="fileuploader">
        <input type="text" class="form-control mr-1" id="fileUpload" name="fileUpload" placeholder="Choose a file..." />
        <span class="input-group-btn">
            <button class="btn btn-outline-primary btn-choose" type="button">Choose</button>
        </span>
    </div>
</div>

@using (Html.BeginForm("Upload", "ConditionalAccess", FormMethod.Post, new { enctype = "multipart/form-data" }))
{

    <form>
        <div class="custom-file">
            <input type="file" name="file" class="custom-file-input" id="customFile">
            <label class="custom-file-label" for="customFile">Choose file</label>
        </div>
    </form>

    <script>
        // Add the following code if you want the name of the file appear on select
        $(".custom-file-input").on("change", function () {
            var fileName = $(this).val().split("\\").pop();
            $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
        });
    </script>

    <input type="submit" class="btn btn-primary pull-left" value="Upload" />

}