@model  Microsoft.Graph.WindowsAutopilotDeploymentProfile
@using System.ComponentModel.DataAnnotations
@using System.Reflection
@{
    ViewBag.Current = "Detail";
}

<div class="jumbotron">
    <h1>Windows Autopilot Profiles</h1>
    <p>The downloaded profile can be used for offline Windows Autopilot deployments. Store downloaded file under "C:\Windows\Provisioning\Autopilot\AutoPilotConfigurationFile.json" </p>
</div>

<table>
    <tr>
        <th>Key</th>
        <th>Value</th>
    </tr>
    @foreach (var item in Model.GetType().GetProperties())
    {
        var label = item.GetCustomAttribute<DisplayAttribute>().Name;
        var value = item.GetValue(Model);
        <tr>
            <td>@label</td>
            <td>@value</td>
        </tr>

    }
</table>



